<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CarApp">

<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <base href="/" />
</head>


<body ng-controller="CarListController as main">


    <div class="container">
        <a href="/listCar"> Home </a>
        <br />
        <a href="/addCar"> Add Car </a>
        <div ng-view></div>
    </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApps/app.js"></script>
    <script src="~/ngApps/controllers.js"></script>
    <script src="~/ngApps/services.js"></script>
</body>
</html>