<form>
    <div class="container">

        <div>
            <h1>Add Car Page</h1>
            <label> Make </label>
            <input ng-model="main.addCar.make" value="origional.make" />
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Model </label>
            <input ng-model="main.addCar.model" value="origional.model" />
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Price </label>
            <input ng-model="main.addCar.price" value="origional.price" />
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Picture </label>
            <input ng-model="main.addCar.picture" value="origional.picture" />
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Brief Description </label>
            <input ng-model="main.addCar.briefDescription" value="origional.briefDescription" />
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Full Description </label>
            <input ng-model="main.addCar.fullDescription" value="origional.fullDescription" />
        </div>

        <input type="submit" value="Save" />
    </div>
</form>
