<form>
    <div class="container">

        <div>
            <h1>Delete Car Page</h1>
            <label> Make </label>
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Model </label>
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Price </label>
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Picture </label>
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Brief Description </label>
        </div>
        <div>
            <h1>Add Car Page</h1>
            <label> Full Description </label>
         </div>
        <h1>Delete this car?</h1>
        <input type="submit" value="Delete" />
    </div>
</form>