<form ng-submit="main.editCar()">
    <div class="container">

        <div>
            <h1>Edit Car Page</h1>
            <label> Make </label>
            <input ng-model="main.car.make" />
        </div>
        <div>
            <label> Model </label>
            <input ng-model="main.car.model" />
        </div>
        <div>
            <label> Price </label>
            <input ng-model="main.car.price" />
        </div>
        <div>
            <label> Picture </label>
            <input ng-model="main.car.picture" />
        </div>
        <div>
            <label> Brief Description </label>
            <input ng-model="main.car.briefDescription" />
        </div>
        <div>
            <label> Full Description </label>
            <input ng-model="main.car.fullDescription" />
        </div>

        <input type="submit" value="Save" />
    </div>
</form>