    <div class="container">
    <h2>Showroom</h2>
    <form>
        <input ng-model="main.search" />
    </form>
    <table ng-cloak="true" class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Price
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Brief Description
                </th>
                <th>
                    Full Description
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-controller="MenuController as menu" ng-repeat="car in main.cars|filter:main.filterCars">
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.price|currency}}</td>
                <td><img ng-src="{{car.picture}}" /></td>
                <td>{{car.briefDescription}}</td>
                <td>{{car.fullDescription}}</td>
                <td ng-if="menu.showLogin()">
                    <a href="/deleteCar/{{car.id}}">Delete</a>
                    <br />
                    <a href="/editCar/{{car.id}}">Edit</a>
                </td>
            </tr>

        </tbody>

    </table>

</div>