    <div class="container">
    <h2>Showroom</h2>

        <form >
            <input ng-keyup="mySearch = count + 1" ng-init="">
        </form>
    <table ng-cloak="true" class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Price
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Brief Description
                </th>
                <th>
                    Full Description
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="car in main.cars" ngShow ([item]filter: >
                <td>{{car.Make}}</td>
                <td>{{car.Model}}</td>
                <td>{{car.Price|currency}}</td>
                <td><img ng-src="{{car.Picture}}" /></td>
                <td>{{car.BriefDescription}}</td>
                <td>{{car.FullDescription}}</td>
                <td>
                    <a href="/deleteCar/{{car.Id}}">Delete</a>
                    <br />
                    <a href="/editCar/{{car.Id}}">Edit</a>
                </td>
            </tr>

        </tbody>

    </table>

</div>